@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#f5f5f5;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}


P {
    font-family: roboto, sans-serif;
}

    header {
    display: flex;
    height:5rem; 
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

    #logo {
       height: 10vw;
       padding-left:20px;
    }

    nav a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.5rem;
    }

    nav a:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #efac14; 
    }
 
    #about {
        text-decoration: underline;
       }
    

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        background: #162d46;
    }

    img {
        border: solid 5px #f5f5f5
    }

    article {
        color: #f5f5f5;
        font-family: roboto, sans-serif;
        width: 50%;
        flex-direction:row;
        display: flex;
        align-items: center; 
        padding: 40px;
        flex-wrap: wrap; 
        justify-content: space-between;
        font-size: 16px;
    }



section {
    width: 100%;
    background:url(image-assets/keyboard-thkStrip.jpg) #162d46;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    padding: 10px;
    justify-content:center;
    align-items: top;
    justify-content: center;
    margin: 2rem 0 2rem 0rem;
}


h1 {
    font-size: 32px;

}



h2 {
    font-family: cursive;
    color: #f5f5f5;
    font-weight: 100;
    font-size: 25px;
    margin: 1%;
}
 
h3 {
    font-family: cursive;
    color: #f5f5f5;
    font-weight: 100;
    font-size: 16px;
    margin: 10px ;
}




#social-media {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #d3d3d3;
  margin: 0 0 1.25rem;

       
  }

  #social-media  a {
      color: #162d46;
      font-family: roboto, sans-serif;
      text-decoration: none;
      margin: 0.65rem;
      width: 2em;;
    }

footer {
  display: flex;
  justify-content: center;
  padding: 7 0 0 20;
  margin: 0rem 2rem 0rem 0rem;
}


