@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#f5f5f5;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

P {
    font-family: roboto, sans-serif;
}

header {
    display: flex;
    height:5rem; 
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

    #logo {
       height: 10vw;
        padding-left:20px;
    }

    nav a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.5rem;
    }

    nav a:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #efac14; 
    }

article.blog-info {
    background: #f5f5f5;
    width: 17%;
    margin: 2rem 2rem 0rem 2rem
}

/* blockquote */
blockquote {
    width: 323px; 
    display:block;
    background: #f5f5f5;
    padding: 1rem 20px 15px 0;
    position: relative;
    font-family:fantasy, sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #7c94ac;
    text-align: center;
    border-left: 15px solid #efac14;
    border-right: 2px solid #efac14;
    -moz-box-shadow: 2px 2px 15px #c9c8c8;
    -webkit-box-shadow: 2px 2px 15px #c9c8c8;
    box-shadow: 2px 2px 15px #c9c8c8;
}

#future-text-blog{
    font-weight: 600;
    color: #30455e;
}

#carol-blog{
    font-weight: 600;
    color:#30455e; ;
}




/* blog post */
h2{
    font-family: fantasy, sans-serif;
    font-size: 18px;
    color: #30455e;
}

p{
    font-family: fantasy, sans-serif;
    font-size: 16px; 
    font-weight: 500;
    color: #30455e;

}

figure {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 30vw;
    margin-bottom: 0;
}
figcaption {
    font-family: fantasy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #30455e;
    align-self: flex-start;
    border-left: 1em solid #efac14;
    padding-left: 1em;
    margin-left: 2em;
    width: 25vw;
  }




/* bottom hero image */
    main{
        background: url(image-assets/typewriter.jpg) #162d46;
    }

      /* Social media icon links */

  #social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #f5f5f5;
    margin: 0 0 1.25rem;    
    }

    #social-media  a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.65rem;
        width: 2em;;
      }
/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 7 0 0 20;
}