@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background:#f5f5f5;
        display: flex;
        font-family: roboto;
        flex-direction: column;
        font-size: 14px;
    }

    P  {
         width: 300px;
         font-family: roboto, sans-serif; 
         color: #162d46;
         margin: 1.5rem;
    }

    header {
        display: flex;
        height:5rem; 
        padding: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
       height: 10vw;
        padding-left:20px;
    }

    nav a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.5rem;
    }

    nav a:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #efac14; 
    }

    #blog {
        text-decoration: underline;
        color: #162d46;
    }

#mainheading  {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin-left:1.5rem;
    color: #162d46;
    font-family: 'Edu Tas Beginner',sans-serif;
    font-weight: 700 bold;
}

#bar{
    display: flex;
    background: #d3d3d3;
    width: 100%;
    height: 40px;
}

#color {
    color: #efac14;
    font-weight: bold;
}
 h2, h3, h4, h5  {
    color:#162d46; 
}
 h2 {
    width: 300px;
    margin: 1.5rem;
 } 

 section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
 }

 .blogs {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
 }

hgroup {
     text-align:left;
    
}
 figure {
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
 }

 figcaption{
    font-size: 95%;
    text-align: left;
 }

h3 {
    margin: 1.5rem;
    width: 300px;   
}

    #social-media {
        display: flex;
        width: 100%;
        justify-content: center;
        background: #d3d3d3;
    }

    #social-media  a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.65rem; 
        width: 2em;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 7 0 0 20;
        margin: 0rem 2rem 0rem 0rem;
      }