
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Edu+TAS+Beginner:wght@400;600&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        overflow: hidden;
        background:#f5f5f5;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    P  {
        font-family: roboto, sans-serif;
    }

    header {
        display: flex;
        height:5rem; 
        padding: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
       height: 10vw;
        padding-left:20px;
    }

    nav a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.5rem;
    }

    nav a:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #efac14; 
    }

    h1 {
        display: flex;
        flex-wrap: wrap;
        font-family:'Aclonica', sans-serif;
        font-size: 60px;
        font-weight:400;
        color: white;  
    }

    .content {
        background:url(image-assets/keyboard-bg.jpg) #162d46;
        background-repeat: none;
        display:flex;
        height: 600px; 
        padding: 10rem;
        padding-left: 6rem;      
    }

    @keyframes orange-to-white {
        from{
        color: #efac14;
        }
        to{
        color: white;
        }
    }

    .webdevtext {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;            
    }

    .webdevtext h4 {
        height: 5px;
        font-family: roboto, sans-serif;
        font-size: 40px; 
        font-weight: 400;
        color: white; 
        text-shadow: 0px 0px 4px #efac14;
        animation: orange-to-white 3s;
        transition: ease-in 1s;           
    }

    #social-media {
        display: flex;
        width: 100%;
        justify-content: center;
        background: #d3d3d3;
        
    }

    #social-media  a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.65rem; 
        width: 2em;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 7 0 0 20;
        margin: 3rem 0rem 0rem 0rem;
    }






  

