@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#f5f5f5;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}


P {
    font-family: roboto, sans-serif; 
    
}
.para {
    margin: 2rem; 
    padding: 1em; 
    font-size: 16px; 
    color: #162d46; 
}

span {
    font-size: 12px;
    font-weight:700;
    color: rgb(168, 44, 44);
}


header {
    display: flex;
    height:5rem; 
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

    #logo {
       height: 10vw;
        padding-left:20px;
    }

    nav a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.5rem;
    }

    nav a:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #efac14; 
    }

    #port {
        text-decoration: underline;
        color: #162d46;
       }

       h2 {
        display: flex;
        flex-direction:column;
        margin: 1rem;
        font-family: roboto, sans-serif;
        color: #f5f5f5;
    }

    main {
        display:flex;
        flex-wrap: wrap; 
        justify-content: space-around; 
        background:url(image-assets/serveroom.jpg) #162d46;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content:flex-start;
        height:150px;
        width:250px;
        margin:1rem ;   
    }

    .project1 {
        display: flex;
        background:url(image-assets/CE\ project.png) no-repeat #d3d3d3;
        text-align: center;
        border-radius: 1em;
        border-style: solid;
        border-color: #f5f5f5;
       
    
            
    }

    .project2 {
        display: flex;
        background:url(image-assets/RedProject.png) no-repeat #d3d3d3;
        border-radius: 1em;
        border-style: solid;
        border-color: #f5f5f5;
    }

    .project3 {
        display: flex;
        background:url(image-assets/ImmuneProject.png) no-repeat #d3d3d3;
        border-radius: 1em;
        border-style: solid;
        border-color: #f5f5f5;
    }

    .project4 {
        display: flex;
        background:url(image-assets/webinars2.png) no-repeat #d3d3d3;
        border-radius: 1em;
        border-style: solid;
        border-color: #f5f5f5;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-self: flex-start;
        background-color: #d3d3d3;
    }








               
  /* Social media icon links */

  #social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #d3d3d3;   
    }

    #social-media  a {
        color: #162d46;
        font-family: roboto, sans-serif;
        text-decoration: none;
        margin: 0.65rem;
        width: 2em;;
      }
/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 7 0 0 20;
    margin-top: 1rem;
}


